<!-- Footer Start -->
<footer class="container-fluid">
  <address class="row">
    <div class="col-12 col-md-6 col-lg-4 d-lg-flex justify-content-center">
      <div class="text--small">Nome: <span class="text--large-bold d-block">Eduardo Pacheco</span></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0 d-lg-flex justify-content-center">
      <div class="text--small">Telefone: <span class="text--large-bold d-block">+55 91 8556-1718</span></div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0 d-lg-flex justify-content-center">
      <div class="text--small">Email: <span class="text--large-bold d-block">eduardo@eapprojetos.com</span></div>
    </div>
  </address>
</footer><script defer src="../main.js"></script>