<!-- Navbar START -->
<nav class="navbar">
  <div class="navbar__container">
    <button class="navbar__toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar__list">
    <ul class="navbar__nav navbar__nav--collapsed">
      <li class="nav__item active">
        <a class="nav__link" href="/">Início <span class="sr-only">(Atual)</span></a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/sobre-mim">Sobre Mim</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/projetos">Projetos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="blog/posts.html">Blog</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/contato.html">Contato</a>
      </li>
    </ul>
  </div>
</nav><script defer src="../main.js"></script>