@use 'base/typography'

.hero__call-to-action
  margin: auto

.hero__image
  position: relative

.hero__image--2
  position: absolute
  top: 50%
  left: 0

section
  position: relative

.section__label
  @extend .display
  opacity: 30%
  position: absolute
  bottom: 0
  left: 0
