<aside class="card-avatar">
  <div class="subtitle">
    Eduardo<br />Pacheco
  </div>
  <img class="card-avatar__img" src="https://github.com/edudesenvolvedor.png" />
  <div class="mt-3">
    <div class="text--small">
      Especialização:
      <span class="text--bold d-block">
        Dev. Web Full-Stack
      </span>
    </div>
    <div class="text--small">
      Localização:
      <span class="text--bold d-block">
        Belém, Pará, Brazil
      </span>
    </div>
    <div class="row mt-3">
      <div class="col-4 d-flex justify-content-center">
        <div class="card-avatar__link_social_network">
          <i class="ph ph-linkedin-logo"></i>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="card-avatar__link_social_network">
          <i class="ph ph-github-logo"></i>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="card-avatar__link_social_network">
          <i class="ph ph-whatsapp-logo"></i>
        </div>
      </div>
    </div>
  </div>
</aside>