@use '../abstracts/variables'

.accordion-button
  background-color: variables.$color-light

  &:focus
    outline: none
    border: none
    box-shadow: none

  &:active
    background-color: variables.$color-light
