@use 'sass:color'
@use '../abstracts/variables'
@use '../base/typography'

.btn
  @extend .text--small
  text-transform: uppercase

.btn-primary
  background: linear-gradient(270deg, #FFD700 0%, #FFF2BA 35%, #FFF6D2 50%, #FFF2BA 64.9%, #FFD700 100%)
  border: none
  border-radius: 0
  color: #1C1C1C

  &:hover
    background-color: darken(variables.$color-primary, 30%)
    border-color: darken(variables.$color-primary, 30%)
    background: linear-gradient(270deg, #FFD700 0%, darken(#FFF2BA, 10%) 35%, darken(#FFF6D2, 10%) 50%, darken(#FFF2BA, 10%) 64.9%, darken(#FFD700, 10%) 100%)
    color: darken(red, 10%)
  &:active
    background-color: darken(variables.$color-primary, 10%) !important
    border-color: darken(variables.$color-primary, 10%) !important

.btn-ghost
  color: variables.$color-primary

  &:hover
    border: 1px solid variables.$color-primary
    border-radius: 0

.btn-card--portfolio
  width: 100%

.btn-card-plans
  width: 100%

/* Button Outline */

.btn-outline
  color: #FFD700
  border-radius: 0
  position: relative
  background-color: #1C1C1C

  &:hover
    background: linear-gradient(270deg, #FFD700 0%, #FFF2BA 35%, #FFF6D2 50%, #FFF2BA 64.9%, #FFD700 100%)
    color: #1C1C1C

  &::before
    content: ''
    position: absolute
    top: -4px
    left: -4px
    width: calc(100% + 8px)
    height: calc(100% + 8px)
    background: linear-gradient(270deg, #FFD700 0%, #FFF2BA 35%, #FFF6D2 50%, #FFF2BA 64.9%, #FFD700 100%)
    z-index: -1
